[Core]
DisableLogging=false
#Filter="%Severity% >= debug"

#    master,
[Sinks.master]
Filter="%Severity% >= info & %Channel% = \"master\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/master/master-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/master"
MaxSize=335544320
ScanForFiles=Matching

#    kuborcs,
[Sinks.kuborcs]
Filter="%Severity% >= info & %Channel% = \"kuborcs\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/kuborcs/kuborcs-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/kuborcs"
MaxSize=33554432
ScanForFiles=Matching

#    linklayer,
[Sinks.linklayer]
Filter="%Severity% >= info & %Channel% = \"linklayer\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/linklayer/linklayer-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/linklayer"
MaxSize=268435456
ScanForFiles=Matching

#    forklift,
[Sinks.forklift]
Filter="%Severity% >= info & %Channel% = \"forklift\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/forklift/forklift-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/forklift"
MaxSize=33554432
ScanForFiles=Matching

#    chassis,
[Sinks.chassis]
Filter="%Severity% >= info & %Channel% = \"chassis\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/chassis/chassis-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/chassis"
MaxSize=33554432
ScanForFiles=Matching

#  vision,
[Sinks.vision]
Filter="%Severity% >= info & %Channel% = \"vision\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/vision/vision-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/vision"
MaxSize=33554432
ScanForFiles=Matching

#vision image,
[Sinks.image]
Filter="%Severity% >= info & %Channel% = \"image\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/image/image-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/image"
MaxSize=33554432
ScanForFiles=Matching

#vision cloud,
[Sinks.cloud]
Filter="%Channel% = \"cloud\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/cloud/cloud-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/cloud"
MaxSize=33554432
ScanForFiles=Matching

#    kubot,
[Sinks.kubot]
Filter="%Severity% >= info & %Channel% = \"kubot\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/kubot/kubot-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/kubot"
MaxSize=8388608
ScanForFiles=Matching

#    chassismotioncontrol,
[Sinks.chassismotioncontrol]
Filter="%Channel% = \"chassismotioncontrol\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/chassismotioncontrol/chassismotioncontrol-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/chassismotioncontrol"
MaxSize=33554432
ScanForFiles=Matching

#    bms,
[Sinks.bms]
Filter="%Channel% = \"bms\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/bms/bms-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/bms"
MaxSize=33554432
ScanForFiles=Matching

#    safety,
[Sinks.safety]
Filter="%Severity% >= info & %Channel% = \"safety\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/safety/safety-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/safety"
MaxSize=33554432
ScanForFiles=Matching

#    network,
[Sinks.network]
Filter="%Severity% >= info & %Channel% = \"network\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/network/network-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/network"
MaxSize=33554432
ScanForFiles=Matching

#    power,
[Sinks.power]
Filter="%Severity% >= info & %Channel% = \"power\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/power/power-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/power"
MaxSize=33554432
ScanForFiles=Matching


#    chassis_l_motor_driver,
[Sinks.ChassisLMotorDriver]
Filter="%Severity% >= info & %Channel% = \"chassis_l_motor_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/chassis_l_motor_driver/chassis_l_motor_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/chassis_l_motor_driver"
MaxSize=8388608
ScanForFiles=Matching

#    chassis_r_motor_driver,
[Sinks.ChassisRMotorDriver]
Filter="%Severity% >= info & %Channel% = \"chassis_r_motor_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/chassis_r_motor_driver/chassis_r_motor_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/chassis_r_motor_driver"
MaxSize=8388608
ScanForFiles=Matching

#    lift_motor_driver,
[Sinks.LiftMotorDriver]
Filter="%Severity% >= info & %Channel% = \"lift_motor_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/lift_motor_driver/lift_motor_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/lift_motor_driver"
MaxSize=8388608
ScanForFiles=Matching

#    stretch_motor_driver,
[Sinks.StretchMotorDriver]
Filter="%Severity% >= info & %Channel% = \"stretch_motor_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/stretch_motor_driver/stretch_motor_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/stretch_motor_driver"
MaxSize=8388608
ScanForFiles=Matching

#    rotate_motor_driver,
[Sinks.RotateMotorDriver]
Filter="%Severity% >= info & %Channel% = \"rotate_motor_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/rotate_motor_driver/rotate_motor_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/rotate_motor_driver"
MaxSize=8388608
ScanForFiles=Matching

#    camera_driver,
[Sinks.CameraDriver]
Filter="%Severity% >= info & %Channel% = \"camera_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/camera_driver/camera_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/camera_driver"
MaxSize=8388608
ScanForFiles=Matching

#    qrcode_driver,
[Sinks.QRCodeDriver]
Filter="%Severity% >= info & %Channel% = \"qrcode_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/qrcode_driver/qrcode_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/qrcode_driver"
MaxSize=8388608
ScanForFiles=Matching

#    imu_driver,
[Sinks.IMUDriver]
Filter="%Severity% >= info & %Channel% = \"imu_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/imu_driver/imu_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/imu_driver"
MaxSize=8388608
ScanForFiles=Matching

#    obstacle_f_driver,
[Sinks.ObstacleFDriver]
Filter="%Severity% >= info & %Channel% = \"obstacle_f_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/obstacle_f_driver/obstacle_f_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/obstacle_f_driver"
MaxSize=8388608
ScanForFiles=Matching

#    obstacle_b_driver,
[Sinks.ObstacleBDriver]
Filter="%Severity% >= info & %Channel% = \"obstacle_b_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/obstacle_b_driver/obstacle_b_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/obstacle_b_driver"
MaxSize=8388608
ScanForFiles=Matching

#    finger_l_driver,
[Sinks.FingerLDriver]
Filter="%Severity% >= info & %Channel% = \"finger_l_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/finger_l_driver/finger_l_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/finger_l_driver"
MaxSize=8388608
ScanForFiles=Matching

#    finger_r_driver,
[Sinks.FingerRDriver]
Filter="%Severity% >= info & %Channel% = \"finger_r_driver\""
Destination=TextFile
Format="[%TimeStamp(format=\"%Y-%b-%d %H:%M:%S.%f\")%] [%Severity%]%Message%"
FileName="./log/test/finger_r_driver/finger_r_driver-%Y-%m-%d_%H%M%S.log"
Asynchronous=true
AutoFlush=true
RotationSize=1048576
RotationTimePoint="00:00:00"
Target="./log/test/finger_r_driver"
MaxSize=8388608
ScanForFiles=Matching